@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Aprendendo sobre <a href="https://docs.microsoft.com/aspnet/core">contruindo Web apps com ASP.NET Core</a>.</p>
    <p>
        Feito com base no curso da DIO Conheça o Entity Framework e crie aplicações ASP.NET, meu github <a href="https://github.com/axtrindade">github/axtrindade</a>
    </p>
</div>
