@{
    ViewData["Title"] = "Politicas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    Feito com base no curso da DIO Conheça o Entity Framework e crie aplicações ASP.NET, meu github <a href="https://github.com/axtrindade">github/axtrindade</a>
</p>
